


.links-menu{
    margin-left: 20px;
    margin-right: 20px;
}

#publication-btn{
    width: 400px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    text-align: center;
    color: white;
   
    
}

.container{
    padding-top: 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.publication-container{  
    width: 70%;   
}

.publication{
    display: flex;
    width: 100%;
    border: 0.1px solid black;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, .75);
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 8px;
}

.publication:hover{
    cursor: pointer;
    transform: scale(.98);
}

textarea{
    width: 100%;
	height: 120px;
    border: 1px solid #888;
    padding: 5px;
    outline: none;
    resize: none;
}

textarea:read-only{
   background-color: inherit;
   border: none;
   padding: 16px;
   text-align: center;
   font-size: 16px;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: black; 
    cursor: pointer;
}



/*Modal*/

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: inherit;
}

.modal-content{
    background: inherit;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;

}

.close{
    color: red;
    float: right;
    font-size: 28px;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;


}

/*  form   */

input[type=text],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;

}


.post-btn{
    width: 20%;
    color: white;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 16px;
}
